<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="og:title" content="{{ title }}" />
		<meta name="og:description" content="{{ description }}"/>
		<meta name="og:image" content="{{ image }}" />
		<meta name="theme-color" content="{{ color }}">
	</head>
	<body>
		<h1>Embed Link</h1>
		<a href="https://discordembeds.parliamodipc.repl.co/embed?color=%23{{ color }}&title={{ title }}&description={{ description }}&image={{ image }}&smallimage=enabled">https://discordembeds.parliamodipc.repl.co/embed?color=%23{{ color }}&title={{ title }}&description={{ description }}&image={{ image }}&smallimage=enabled</a>
	</body>
</html>